{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>Published {{ article.publish }} by {{ article.author }}</p>
    <p>{{ article.body }}</p>

    <form action="{% url 'news:add_comment' article.slug %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="add comment">
    </form>

    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}


    {% for comment in comments %}
        <p>Comment by {{ comment.author }} at {{ comment.created }}</p>
        <p>{{ comment.body }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock content %}
