{% extends 'base.html' %}

{% block title %}News{% endblock title %}

{% block content %}
    <h1>News</h1>

    <h2>All Tags:</h2>
    {% include 'tags_all_form.html' with tags=unique_tags %}

    {% for article in article_list %}
        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <p>Published {{ article.publish }} by {{ article.author }}</p>
        <p>{{ article.intro }}</p>
        <p>tags: {{ article.tags|join:", " }}</p>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}

    {% include 'pagination.html' with page=page_obj %}
{% endblock content %}
