{% load news_tags %}
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">Home</a> 
            {% if user.is_authenticated %}

                {% if user|has_group:"writers" %}
                    <a href="{% url 'accounts:user' %}">Your Articles</a>
                    <a href="{% url 'news:article_new' %}">Create New Article</a>
                {% endif %}

                {% if user|has_group:"moderators" %}
                    <a href="{% url 'news:article_moderate' %}">Moderate Articles</a>
                {% endif %}

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'accounts:signup' %}">Signup</a>
            {% endif %}

            <form action="{% url 'news:article_search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>

    <footer>

    </footer>

</html>
